#video_player
{
	position: absolute;
	height: 80%;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

#background_video_player
{
	position: absolute;
	height: 80%;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	background-color: black;
}

#video_player_left_block
{
	position: absolute;
	height: 50px;
	width: 175px;
	bottom: 11.5%;
	left: 15px;
	background-color: #313948;
	border-radius: 12px;
}

#video_player_polzunok_block
{
	position: absolute;
	height: 50px;
	width: calc(100% - 240px - 175px);
	bottom: 11.5%;
	left: calc(175px + 30px);
	background-color: #313948;
	border-radius: 12px;
}

#video_player_polzunok
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 21px;
	right: 21px;
	width: calc(100% - 42px);	
}



#video_player_fullscreen
{
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 11.5%;
	right: 15px;
	background-color: #313948;
	border: 0;
	outline: none;
	border-radius: 12px;
}

#video_player_quality
{
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 11.5%;
	right: 80px;
	border: 0;
	outline: none;
	background-color: #313948;
	border-radius: 12px;
}

#video_player_sound
{
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 11.5%;
	right: 145px;
	border: 0;
	outline: none;
	background-color: #313948;
	border-radius: 12px;
}

#img_video
{
	position: absolute;
	height: 42%;
	width: 42%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}

#video_player_play
{
	position: absolute;
	left: 3%;
	height: 50px;
	width: 50px;
	background-color: #0000;
}

#video_player_left
{
	position: absolute;
	right: calc(3% + 50px);
	height: 50px;
	width: 50px;
	background-color: #0000;
}

#video_player_right
{
	position: absolute;
	right: 3%;
	height: 50px;
	width: 50px;
	background-color: #0000;
}

#action_button
{
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	outline: none;
	background-color: #0000;
	border-radius: 12px;
}

#sound_block
{
	position: absolute;
	height: 200px;
	width: 50px;
	bottom: calc(11.5% + 60px);
	right: 145px;
	border: 0;
	outline: none;
	background-color: #313948;
	border-radius: 12px;
	transition: height 0.3s linear;
}

#label
{
	height: 100%;
	width: 100%;
	background-color: #0000;
	border-radius: 12px;
	outline: 0;
	border: 0;
}

button:active + #label, input:checked + #label {
    height: 100px;    
}