
#bottom_text
{
	position: fixed;
    text-align: center;
    width: 183px;
    height: 26px;
	bottom: 0; left: 0;
	resize: none;
	padding-bottom: 1%;
    color: #545765;
    font-size: auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%; 
	outline: none;
}

#button_load
{
	outline: none;
	font-size: 12px;
	width: 200px;
	height: 60px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background: linear-gradient(to top, #737786, #4A4D65);
	border-radius: 14px;
	border: 0;
	left: 50%;
	top: 35%;
	transform: translateX(-50%);
	max-width: 80%;
	min-height: 20%;
	max-height: 20%;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
}

#button_load_text
{
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	outline: none;
	border: 0;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

#download_label
{
	
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	background-color: #0000;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
	transition: height 0.175s cubic-bezier(0, 0, 0.15, 1);
	width: 200px;
	height: 60px;
	border-radius: 14px;
}

#button_load:active 
{
  background: linear-gradient(to top, #4A4D65, #737786);
  transition: background 0s;
}

#mid_text
{
	font-size: 12px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 23%;
	transform: translate(0, -50%);
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
    color: #545765;
    font-size: 12px;
}

#textarea
{
	outline: none;
	height: 22px;
	resize: none;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0%;
	width: 694px;
	background: linear-gradient(to top, #434553
, #333642);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	color: #8D9299;
	border: 0;
	border-radius: 8px;
	max-width: 110%;
}

#start_button
{
	display: inline-table;
	outline: none;
	font-size: 12px;
	width: 200px;
	height: 60px;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background: linear-gradient(to top, #737786, #4A4D65);
	border-radius: 14px;
	border: 0;
	left: 50%;
	top: 80%;
	transform: translateX(-50%);
	max-width: 80%;
	min-height: 20%;
	max-height: 20%;
	text-align: center;
    vertical-align: middle;
}

#start_button:active 
{
  background: linear-gradient(to top, #4A4D65, #737786);
  transition: background 0s;
}

#main_area
{
	background-color: #0000;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30%;
	bottom: 300px;
	height: 300px;
	width: 80%;
}

#line_
{
	position: absolute;
	background-color: #4A4D65;
	height: 4px;
	width: 100%;
	top: 67%;
	max-width: 694px;
	border-radius: 12px;
	left:50%;
	transform: translateX(-50%);
}

#button_load_text_2
{
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	outline: none;
	border: 0;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}