html, body { 
    height: 100%;
    margin: 0; 
   }

html 
{ 
	overflow-x: hidden;
	overflow-y: hidden;
}

#main
{
	position: relative;
	background-color: #2B323F;
	height: 100%; 
	width: 61.9%;
    float: left;
    font-family: 'Montserrat', sans-serif;
}


#main iframe 
{
	z-index: 1;
	transform: translateY(12.5%);
    width: 100%;
    height: 80%;   
}

#main span {
  display: block;
  text-align: center;
}

#chat_background
{
	position: relative;
	background-color: #313948;
	height: 100%; 
	width: 38.1%;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

#chat_background_messages
{
	top: 256px;
	position: absolute;
	width: 100%;
	height: calc(91% - 256px);
	background: #313948;
	font-size: 15px;
	overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

/* CHAT INPUT */

#chat_input
{
	text-align: bottom;
	position: absolute;
	width: 86%;
	height: 96%;
	border: 0;
	outline: none;
	bottom: 0%;
	background: #545765;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 17px;
    word-wrap: break-word;
    color: white;
}

input::placeholder {
  color: #DEDAE8;
}

#chat_button
{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-25%, -50%);
	height: 50px;
	width: 50px;
	max-width: 19%;
	max-height: 90%;
	min-height: 50px;
	min-width: 50px;
	border: 0;
	outline: none;
	background: linear-gradient(316.55deg, #8F00FF 12.24%, #BD69FF 84.84%);
	border-radius: 50%;
}

#chat_input_block
{
	position: absolute;
	height: 9.1%;
	width: 100%;
	bottom: 0;
	background-color: #545765;	
}

/* CHAT INPUT */

#smile_buttons
{
	transform: translateX(50%);
	position: absolute;
	top: 6%;
	right: 10%;
	width: 15%;
	height: 4.5%;
	background: #262729AA;
	border-radius: 12px;
}

#upper_gradient
{
	top: 4.5%;
	width: 100%;
	position: absolute;
	height: 5.5%;
	background: linear-gradient(to top, #000, #2B323FFF);
}

#bottom_gradient
{
	top: 89.9%;
	width: 100%;
	position: absolute;
	height: 5.5%;
	background: linear-gradient(to top, #2B323F00, #000000);
}

#but1
{
	position: absolute;
	height: 80%;
	width: 21%;
	left: 0%;
	transform: translateX(50%);
	top: 10%;
	background-color: #0000;
	border: 0;
	outline: none;
}

#but2
{
	position: absolute;
	height: 80%;
	width: 21%;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
	background-color: #0000;
	border: 0;
	outline: none;
}

#but3
{
	position: absolute;
	height: 80%;
	width: 21%;
	right: 0%;
	transform: translateX(-50%);
	top: 10%;
	background-color: #0000;
	border: 0;
	outline: none;
}


#imag
{
	position: absolute;
	height: 80%;
	width: 21%;
	left: 70%;
	top: 10%;
	background-color: #0000;
	border: 0;
	outline: none;
}

/*--------------------*/
/*----TOP OF CHAT-----*/
/*--------------------*/

#chat_top_background
{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 256px;
	min-height: 8%;
	background-color: #313948;
}

#chat_top_background_line_1
{
	position: absolute;
	bottom: 50%;
	height: 2px;
	background-color: #545765;
	left: 2.2222222%;
	right: 2.2222222%;
}

#chat_top_background_line_2
{
	position: absolute;
	bottom: 0%;
	height: 2px;
	background-color: #545765;
	left: 2.2222222%;
	right: 2.2222222%;
}

#chat_top_input
{
	text-align: center;
	position: absolute;
	transform: translateY(50%);
	bottom: 26%;
	left: 2.2222222%;
	height: 25%;
	width: 45%;
	outline: none;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 13px;
    padding-right: 13px;
    background: linear-gradient(180deg, #444655 0%, #333641 100%);
	border: 2px solid #545765;
	box-sizing: border-box;
	border-radius: 12px;
	color: #8D9299;
}

#chat_top_button
{
	position: absolute;
	transform: translateY(50%);
	bottom: 26%;
	right: 2.2222222%;
	height: 25%;
	width: 45%;
	background: linear-gradient(180deg, #747786 0%, #4A4D65 100%);
	border: 0;
	outline: none;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 12px;
    color: #E0E4EB;
}

#chat_top_users_block
{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	position: absolute;
	top: 3%;
	height: 100px;
	right: 2.2222222%;
	left: 2.2222222%;
	background-color: #0000;
	overflow: auto;
	overflow-y: hidden;
}

#chat_top_users_name_block
{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	position: absolute;
	top: 3%;
	height: 100px;
	right: 2.2222222%;
	left: 2.2222222%;
	background-color: #313948;
	overflow: auto;
	overflow-y: hidden;
}

#chat_top_user_name
{
	color: white;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
	border-radius: 12px;
	position: relative;
	top: 60px;
	min-width: 85px;
	height: 24px;
	width: 85px;
	font-size: auto;
	background: linear-gradient(180deg, #747786 0%, #4A4D65 100%);
}

.chat_top_user
{
	color: white;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
	border-radius: 12px;
	position: relative;
	min-width: 85px;
	height: 85px;
	width: 85px;
	font-size: 23px;
	transition: height 0.175s cubic-bezier(0, 0, 0.15, 1);
}

.chat_top_user:hover {
	height: 60px;
}

#chat_top_user_space
{
	position: relative;
	height: 85px;
	width: 2.5px;
	background-color: #313948;
}

/*--------------------*/
/*----TOP OF CHAT-----*/
/*--------------------*/

#chat_text_block_box
{
	position: relative;
	width: 100%;
	background-color: #313948;
}

#chat_text_block
{
	word-wrap: break-word;
	border-radius: 4px 20px 20px 20px;
	background-color: #4896F0;
	display: inline-block;
	max-width: 70%;
	height: auto;
	transform: translateX(10px);
	white-space: pre-wrap;
	padding-left: 17px;
	padding-right: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFF;
}

#chat_text_block_ANOTHER
{
	word-wrap: break-word;
	position: relative;	
	display: inline-block;
	background-color: #11D26A;
	transform: translateX(-10px);
	max-width: 70%;
	height: auto;
	white-space: pre-wrap;
	border-radius: 20px 4px 20px 20px;
	padding-left: 17px;
	padding-right: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFF;
}


#space_r
{
	position: relative;
	float: right;
	width: 50%;
	height: 6px;
	background-color: #313948;
}

#space_l
{
	position: relative;
	float: left;
	width: 50%;
	height: 6px;
	background-color: #313948;
}

#upper_name_text
{
	color: white;
	position: absolute;
	left: 4%;
	top: 2.2%;
	font-size: 20px;
}

#img_smile
{
	position: absolute;
	height: 30px;
	width: 30px;
	left: 0%;
	visibility: hidden;
	padding: 10px;
	border-radius: 100%;
	background-color: #313948;
	-webkit-animation: img_smile_anim 6.2s;  
	animation: img_smile_anim 6.2s; 
}

/* SMILE ANIMATION */

@-webkit-keyframes img_smile_anim { 
	0%{
		top: 0px; 
		visibility: visible;
		 opacity: 1;
	}
	100% {
		animation-timing-function: ease-in;
		top: 1500%; 
		opacity: 0.0;
		visibility: visible;
	}
}


@keyframes img_smile_anim {
	0%{
		top: 0px; 
		visibility: visible;
		 opacity: 1;
	}
	100% {
		animation-timing-function: ease-in;
		top: 1500%; 
		opacity: 0.0;
		visibility: visible;
	}
} 

/* CHATBLOCK ANIMATION */

@-webkit-keyframes chat_block_anim { 
	0%{
		top: 0px; 
		visibility: visible;
		 opacity: 1;
	}
	100% {
		animation-timing-function: ease-in;
		opacity: 0.0;
		visibility: visible;
	}
}


@keyframes chat_block_anim {
	0%{
		top: 0px; 
		opacity: 1;
	}
	100% {
		animation-timing-function: ease-in;
		top: 1500%; 
		opacity: 0.0;
	}
} 

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 16px; 
    height: 16px; 
    background-color: #545765;
}

::-webkit-scrollbar-thumb {
    background-color: #313948;
    border-radius: 9em;
    margin: 1px;
    border: 3px solid #545765;
}

/* MY ARROW */

#down_line
{
	width: 10%;
	height: 40%;
	position: absolute;
	left: 50%;
	background-color: #FFF;
	border-radius: 10px;
	transform: rotate(60deg); 
	top: 37.5%;
}

#up_line
{
	width: 10%;
	height: 40%;
	bottom: 30%;
	position: absolute;
	left: 50%;
	background-color: #FFF;
	border-radius: 10px;
	transform: rotate(300deg); 
	bottom: 37.5%;
}